.Message {
  padding: 10px;
  background-color: var(--skeleton-highlight-color);
  display: flex;
  flex-direction: column;
  border-radius: 4px;

  &__text {
    white-space: pre-line;
  }

  &__footer {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__meta {
    display: flex;
    flex-direction: column;
  }

  &__copy {
    width: 20px;
    height: 20px;
  }

}